button {
    width: 250px;
    height: 80px;
    font-family: Roboto, sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: white;
    border: 3px solid white;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1d58c7;
}

.boton-click {
    background-color: #00a786;
    font-family: 'Cabin', sans-serif;
    

}

.boton-reiniciar {
        background-color: #e7c93f;
        font-family: 'Cabin', sans-serif;

}




